.started {
    background-color: #e9ecef;
    padding: 4rem 0;

    .gradient {
        background: linear-gradient(
            to right,
            rgba(153, 38, 240, 0.95),
            rgba(209, 34, 227, 0.95)
        );
    }

    .cta-info {
        padding: 3rem;
        margin: 1rem 0;
    }
}

.cta-info__list {
    list-style-type: none;
    display: block;
    padding: 0.5rem 0 0 0.5rem;

}

.title{
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    color: $primary;
}
.form{
    padding: 3rem;

    button {
        color: white;
        font-family: "Poppins",sans-serif;

    }
}