.navHead {
  background: -webkit-gradient(linear, left top, right top, from(rgba(153, 38, 240, 0.95)), to(rgba(209, 34, 227, 0.95)));
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.navHead li {
  padding: 0 0.7rem;
}

.btn-rounded {
  padding: 0.9rem 4.4rem 0.9rem 1.2rem;
  font-weight: 500;
  margin: 0%;
  position: relative;
  border: 0.1rem solid rgba(255, 255, 255, 0.6);
  background-color: white;
}

.btn-rounded span {
  position: absolute;
  background-color: #9926f0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-rounded:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(153, 38, 240, 0.95)), to(rgba(209, 34, 227, 0.95)));
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
  color: white;
}

.btn-rounded:hover span {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-rounded i {
  color: white;
  font-size: 1rem;
  padding-top: 0.7rem;
}

@media (max-width: 576px) {
  .btn-rounded {
    display: block;
    position: relative;
    left: 30%;
    margin-top: 1.5rem;
  }
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(rgba(153, 38, 240, 0.95)), to(rgba(209, 34, 227, 0.95)));
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
  padding: 6rem 0 0 0;
  min-height: 100vh;
}

.hero h1 {
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.hero p {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 1.2rem 0 1.5rem 0;
  line-height: 1.5;
}

.hero i {
  font-size: 1rem;
  color: white;
}

.video-box span i {
  font-size: 6rem;
  color: #d122e3;
}

.video-box .border-animation {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid white;
  border-radius: 50%;
  -webkit-animation: pluse 1.5s linear infinite;
          animation: pluse 1.5s linear infinite;
}

.video-box .border-animation-border-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.video-box .border-animation-border-2 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes pluse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pluse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */