@import "./navbar";
@import "./hero";
@import "./companies";
@import "./services";
@import "./testimonials";
@import "./faq";
@import "./custom";
@import "./portfolio";
@import "./started";


//GLOBAL

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

